# Project: Data Cleaning and Manipulation with Pandas

***
## <div class="alert alert-block alert-info"> <font color=blue> 0.- Start and Setup</font></div>

In [23]:
import pandas as pd

In [24]:
# Reading the CSV dataset, I have to change the encoding.
df = pd.read_csv('./GSAF5.csv', encoding = "ISO-8859-1")

***
## <div class="alert alert-block alert-info"> <font color=blue> 1.- Exploring the dataset</font></div>

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [17]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [18]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [19]:
df.shape

(5992, 24)

In [25]:
df.ndim

2

In [20]:
null_cols = df.isnull().sum()
null_cols

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [21]:
df.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

***
## <div class="alert alert-block alert-info"> <font color=blue> 2.- Cleaning the dataset</font></div>

In [29]:
# Removing the columns with lot of nulls, are useless.

df1 = df.drop(['Unnamed: 22', 'Unnamed: 23'], axis=1)

In [306]:
# Renaming columns

df1.rename(columns={'Sex ':'Sex','Fatal (Y/N)':'Fatal','Species ':'Species', 'original order':'Original Order' }, inplace=True)
df1.columns

Case Number                       object
Date                              object
Year                      datetime64[ns]
Type                              object
Country                           object
Area                              object
Location                          object
Activity                          object
Name                              object
Sex                               object
Age                               object
Injury                            object
Fatal (Y/N)                       object
Time                              object
Species                           object
Investigator or Source            object
pdf                               object
href formula                      object
href                              object
Case Number.1                     object
Case Number.2                     object
original order                     int64
dtype: object

In [307]:
set(df['Type'])

{'Boat', 'Boating', 'Invalid', 'Provoked', 'Sea Disaster', 'Unprovoked'}

In [308]:
set(df['Country'])

{' PHILIPPINES',
 ' TONGA',
 'ADMIRALTY ISLANDS',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANGOLA',
 'ANTIGUA',
 'ARGENTINA',
 'ARUBA',
 'ASIA?',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BAHREIN',
 'BANGLADESH',
 'BARBADOS',
 'BAY OF BENGAL',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH VIRGIN ISLANDS',
 'BRITISH WEST INDIES',
 'BURMA',
 'Between PORTUGAL & INDIA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CAYMAN ISLANDS',
 'CENTRAL PACIFIC',
 'CEYLON (SRI LANKA)',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COOK ISLANDS',
 'COSTA RICA',
 'CRETE',
 'CROATIA',
 'CUBA',
 'CURACAO',
 'CYPRUS',
 'Coast of AFRICA',
 'DIEGO GARCIA',
 'DJIBOUTI',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT ',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'Fiji',
 'GABON',
 'GEORGIA',
 'GHANA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GULF OF ADEN',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDIAN OCEAN',
 'INDIAN OCEAN?',
 'INDONESIA',
 'IRAN',
 'IRAN / IRAQ',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'ITALY / CROATIA',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'KOREA',
 'KUWAIT',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MAYOTTE',
 'MEDITERRANEAN SEA',
 'MEDITERRANEAN SEA?',
 'MEXICO',
 'MEXICO ',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MID-PACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEVIS',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NICARAGUA ',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH ATLANTIC OCEAN ',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OCEAN',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PACIFIC OCEAN ',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'RED SEA?',
 'REUNION',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SAUDI ARABIA',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOLOMON ISLANDS / VANUATU',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'SUDAN?',
 'SWEDEN',
 'SYRIA',
 'Seychelles',
 'Sierra Leone',
 'St Helena',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'THE BALKANS',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED ARAB EMIRATES (UAE)',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WESTERN SAMOA',
 'YEMEN',
 'YEMEN ',
 nan}

In [309]:
#before = len(df)
#select_columns = ['Case Number', 'Case Number.2', 'Case Number.1']

#df = df[select_columns].drop_duplicates()
#after = len(df)
#print('Number of duplicate records dropped: ', str(before - after))

In [310]:

df['Country']=df['Country'].fillna("UNKNOWN")
set(df['Country'])

{' PHILIPPINES',
 ' TONGA',
 'ADMIRALTY ISLANDS',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANGOLA',
 'ANTIGUA',
 'ARGENTINA',
 'ARUBA',
 'ASIA?',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BAHREIN',
 'BANGLADESH',
 'BARBADOS',
 'BAY OF BENGAL',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH VIRGIN ISLANDS',
 'BRITISH WEST INDIES',
 'BURMA',
 'Between PORTUGAL & INDIA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CAYMAN ISLANDS',
 'CENTRAL PACIFIC',
 'CEYLON (SRI LANKA)',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COOK ISLANDS',
 'COSTA RICA',
 'CRETE',
 'CROATIA',
 'CUBA',
 'CURACAO',
 'CYPRUS',
 'Coast of AFRICA',
 'DIEGO GARCIA',
 'DJIBOUTI',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT ',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'Fiji',
 'GABON',
 'GEORGIA',
 'GHANA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GULF OF ADEN',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDIAN OCEAN',
 'INDIAN OCEAN?',
 'INDONESIA',
 'IRAN',
 'IRAN / IRAQ',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'ITALY / CROATIA',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'KOREA',
 'KUWAIT',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MAYOTTE',
 'MEDITERRANEAN SEA',
 'MEDITERRANEAN SEA?',
 'MEXICO',
 'MEXICO ',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MID-PACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEVIS',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NICARAGUA ',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH ATLANTIC OCEAN ',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OCEAN',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PACIFIC OCEAN ',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'RED SEA?',
 'REUNION',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SAUDI ARABIA',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOLOMON ISLANDS / VANUATU',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'SUDAN?',
 'SWEDEN',
 'SYRIA',
 'Seychelles',
 'Sierra Leone',
 'St Helena',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'THE BALKANS',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED ARAB EMIRATES (UAE)',
 'UNITED KINGDOM',
 'UNKNOWN',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WESTERN SAMOA',
 'YEMEN',
 'YEMEN '}

In [315]:
import re
def quitaEspacio(Country):
        return Country.lstrip(), Country.rstrip()

df['Country'] = df['Country'].apply(quitaEspacio)

AttributeError: 'tuple' object has no attribute 'lstrip'

In [316]:
set(df['Country'])

{('ADMIRALTY ISLANDS', 'ADMIRALTY ISLANDS'),
 ('ALGERIA', 'ALGERIA'),
 ('AMERICAN SAMOA', 'AMERICAN SAMOA'),
 ('ANDAMAN / NICOBAR ISLANDAS', 'ANDAMAN / NICOBAR ISLANDAS'),
 ('ANGOLA', 'ANGOLA'),
 ('ANTIGUA', 'ANTIGUA'),
 ('ARGENTINA', 'ARGENTINA'),
 ('ARUBA', 'ARUBA'),
 ('ASIA?', 'ASIA?'),
 ('ATLANTIC OCEAN', 'ATLANTIC OCEAN'),
 ('AUSTRALIA', 'AUSTRALIA'),
 ('AZORES', 'AZORES'),
 ('BAHAMAS', 'BAHAMAS'),
 ('BAHREIN', 'BAHREIN'),
 ('BANGLADESH', 'BANGLADESH'),
 ('BARBADOS', 'BARBADOS'),
 ('BAY OF BENGAL', 'BAY OF BENGAL'),
 ('BELIZE', 'BELIZE'),
 ('BERMUDA', 'BERMUDA'),
 ('BRAZIL', 'BRAZIL'),
 ('BRITISH ISLES', 'BRITISH ISLES'),
 ('BRITISH NEW GUINEA', 'BRITISH NEW GUINEA'),
 ('BRITISH VIRGIN ISLANDS', 'BRITISH VIRGIN ISLANDS'),
 ('BRITISH WEST INDIES', 'BRITISH WEST INDIES'),
 ('BURMA', 'BURMA'),
 ('Between PORTUGAL & INDIA', 'Between PORTUGAL & INDIA'),
 ('CANADA', 'CANADA'),
 ('CAPE VERDE', 'CAPE VERDE'),
 ('CARIBBEAN SEA', 'CARIBBEAN SEA'),
 ('CAYMAN ISLANDS', 'CAYMAN ISLANDS'),
 ('CENTRAL PACIFIC', 'CENTRAL PACIFIC'),
 ('CEYLON (SRI LANKA)', 'CEYLON (SRI LANKA)'),
 ('CHILE', 'CHILE'),
 ('CHINA', 'CHINA'),
 ('COLUMBIA', 'COLUMBIA'),
 ('COOK ISLANDS', 'COOK ISLANDS'),
 ('COSTA RICA', 'COSTA RICA'),
 ('CRETE', 'CRETE'),
 ('CROATIA', 'CROATIA'),
 ('CUBA', 'CUBA'),
 ('CURACAO', 'CURACAO'),
 ('CYPRUS', 'CYPRUS'),
 ('Coast of AFRICA', 'Coast of AFRICA'),
 ('DIEGO GARCIA', 'DIEGO GARCIA'),
 ('DJIBOUTI', 'DJIBOUTI'),
 ('DOMINICAN REPUBLIC', 'DOMINICAN REPUBLIC'),
 ('ECUADOR', 'ECUADOR'),
 ('EGYPT', 'EGYPT'),
 ('EGYPT', 'EGYPT '),
 ('EGYPT / ISRAEL', 'EGYPT / ISRAEL'),
 ('EL SALVADOR', 'EL SALVADOR'),
 ('ENGLAND', 'ENGLAND'),
 ('EQUATORIAL GUINEA / CAMEROON', 'EQUATORIAL GUINEA / CAMEROON'),
 ('FALKLAND ISLANDS', 'FALKLAND ISLANDS'),
 ('FEDERATED STATES OF MICRONESIA', 'FEDERATED STATES OF MICRONESIA'),
 ('FIJI', 'FIJI'),
 ('FRANCE', 'FRANCE'),
 ('FRENCH POLYNESIA', 'FRENCH POLYNESIA'),
 ('Fiji', 'Fiji'),
 ('GABON', 'GABON'),
 ('GEORGIA', 'GEORGIA'),
 ('GHANA', 'GHANA'),
 ('GRAND CAYMAN', 'GRAND CAYMAN'),
 ('GREECE', 'GREECE'),
 ('GREENLAND', 'GREENLAND'),
 ('GRENADA', 'GRENADA'),
 ('GUAM', 'GUAM'),
 ('GUATEMALA', 'GUATEMALA'),
 ('GUINEA', 'GUINEA'),
 ('GULF OF ADEN', 'GULF OF ADEN'),
 ('GUYANA', 'GUYANA'),
 ('HAITI', 'HAITI'),
 ('HONDURAS', 'HONDURAS'),
 ('HONG KONG', 'HONG KONG'),
 ('ICELAND', 'ICELAND'),
 ('INDIA', 'INDIA'),
 ('INDIAN OCEAN', 'INDIAN OCEAN'),
 ('INDIAN OCEAN?', 'INDIAN OCEAN?'),
 ('INDONESIA', 'INDONESIA'),
 ('IRAN', 'IRAN'),
 ('IRAN / IRAQ', 'IRAN / IRAQ'),
 ('IRAQ', 'IRAQ'),
 ('IRELAND', 'IRELAND'),
 ('ISRAEL', 'ISRAEL'),
 ('ITALY', 'ITALY'),
 ('ITALY / CROATIA', 'ITALY / CROATIA'),
 ('JAMAICA', 'JAMAICA'),
 ('JAPAN', 'JAPAN'),
 ('JAVA', 'JAVA'),
 ('JOHNSTON ISLAND', 'JOHNSTON ISLAND'),
 ('KENYA', 'KENYA'),
 ('KIRIBATI', 'KIRIBATI'),
 ('KOREA', 'KOREA'),
 ('KUWAIT', 'KUWAIT'),
 ('LEBANON', 'LEBANON'),
 ('LIBERIA', 'LIBERIA'),
 ('LIBYA', 'LIBYA'),
 ('MADAGASCAR', 'MADAGASCAR'),
 ('MALAYSIA', 'MALAYSIA'),
 ('MALDIVE ISLANDS', 'MALDIVE ISLANDS'),
 ('MALTA', 'MALTA'),
 ('MARSHALL ISLANDS', 'MARSHALL ISLANDS'),
 ('MARTINIQUE', 'MARTINIQUE'),
 ('MAURITIUS', 'MAURITIUS'),
 ('MAYOTTE', 'MAYOTTE'),
 ('MEDITERRANEAN SEA', 'MEDITERRANEAN SEA'),
 ('MEDITERRANEAN SEA?', 'MEDITERRANEAN SEA?'),
 ('MEXICO', 'MEXICO'),
 ('MEXICO', 'MEXICO '),
 ('MICRONESIA', 'MICRONESIA'),
 ('MID ATLANTIC OCEAN', 'MID ATLANTIC OCEAN'),
 ('MID-PACIFC OCEAN', 'MID-PACIFC OCEAN'),
 ('MONACO', 'MONACO'),
 ('MONTENEGRO', 'MONTENEGRO'),
 ('MOZAMBIQUE', 'MOZAMBIQUE'),
 ('NAMIBIA', 'NAMIBIA'),
 ('NETHERLANDS ANTILLES', 'NETHERLANDS ANTILLES'),
 ('NEVIS', 'NEVIS'),
 ('NEW BRITAIN', 'NEW BRITAIN'),
 ('NEW CALEDONIA', 'NEW CALEDONIA'),
 ('NEW GUINEA', 'NEW GUINEA'),
 ('NEW ZEALAND', 'NEW ZEALAND'),
 ('NICARAGUA', 'NICARAGUA'),
 ('NICARAGUA', 'NICARAGUA '),
 ('NIGERIA', 'NIGERIA'),
 ('NORTH ATLANTIC OCEAN', 'NORTH ATLANTIC OCEAN'),
 ('NORTH ATLANTIC OCEAN', 'NORTH ATLANTIC OCEAN '),
 ('NORTH PACIFIC OCEAN', 'NORTH PACIFIC OCEAN'),
 ('NORTH SEA', 'NORTH SEA'),
 ('NORTHERN ARABIAN SEA', 'NORTHERN ARABIAN SEA'),
 ('NORTHERN MARIANA ISLANDS', 'NORTHERN MARIANA ISLANDS'),
 ('NORWAY', 'NORWAY'),
 ('OCEAN', 'OCEAN'),
 ('OKINAWA', 'OKINAWA'),
 ('PACIFIC OCEAN', 'PACIFIC OCEAN'),
 ('PACIFIC OCEAN', 'PACIFIC OCEAN '),
 ('PALAU', 'PALAU'),
 ('PALESTINIAN TERRITORIES', 'PALESTINIAN TERRITORIES'),
 ('PANAMA', 'PANAMA'),
 ('PAPUA NEW GUINEA', 'PAPUA NEW GUINEA'),
 ('PARAGUAY', 'PARAGUAY'),
 ('PERSIAN GULF', 'PERSIAN GULF'),
 ('PHILIPPINES', 'PHILIPPINES'),
 ('PORTUGAL', 'PORTUGAL'),
 ('PUERTO RICO', 'PUERTO RICO'),
 ('RED SEA', 'RED SEA'),
 ('RED SEA / INDIAN OCEAN', 'RED SEA / INDIAN OCEAN'),
 ('RED SEA?', 'RED SEA?'),
 ('REUNION', 'REUNION'),
 ('RUSSIA', 'RUSSIA'),
 ('SAMOA', 'SAMOA'),
 ('SAN DOMINGO', 'SAN DOMINGO'),
 ('SAUDI ARABIA', 'SAUDI ARABIA'),
 ('SCOTLAND', 'SCOTLAND'),
 ('SENEGAL', 'SENEGAL'),
 ('SEYCHELLES', 'SEYCHELLES'),
 ('SIERRA LEONE', 'SIERRA LEONE'),
 ('SINGAPORE', 'SINGAPORE'),
 ('SLOVENIA', 'SLOVENIA'),
 ('SOLOMON ISLANDS', 'SOLOMON ISLANDS'),
 ('SOLOMON ISLANDS / VANUATU', 'SOLOMON ISLANDS / VANUATU'),
 ('SOMALIA', 'SOMALIA'),
 ('SOUTH AFRICA', 'SOUTH AFRICA'),
 ('SOUTH ATLANTIC OCEAN', 'SOUTH ATLANTIC OCEAN'),
 ('SOUTH CHINA SEA', 'SOUTH CHINA SEA'),
 ('SOUTH KOREA', 'SOUTH KOREA'),
 ('SOUTH PACIFIC OCEAN', 'SOUTH PACIFIC OCEAN'),
 ('SOUTHWEST PACIFIC OCEAN', 'SOUTHWEST PACIFIC OCEAN'),
 ('SPAIN', 'SPAIN'),
 ('SRI LANKA', 'SRI LANKA'),
 ('ST. MAARTIN', 'ST. MAARTIN'),
 ('ST. MARTIN', 'ST. MARTIN'),
 ('SUDAN', 'SUDAN'),
 ('SUDAN?', 'SUDAN?'),
 ('SWEDEN', 'SWEDEN'),
 ('SYRIA', 'SYRIA'),
 ('Seychelles', 'Seychelles'),
 ('Sierra Leone', 'Sierra Leone'),
 ('St Helena', 'St Helena'),
 ('TAIWAN', 'TAIWAN'),
 ('TANZANIA', 'TANZANIA'),
 ('TASMAN SEA', 'TASMAN SEA'),
 ('THAILAND', 'THAILAND'),
 ('THE BALKANS', 'THE BALKANS'),
 ('TONGA', 'TONGA'),
 ('TRINIDAD & TOBAGO', 'TRINIDAD & TOBAGO'),
 ('TUNISIA', 'TUNISIA'),
 ('TURKEY', 'TURKEY'),
 ('TURKS & CAICOS', 'TURKS & CAICOS'),
 ('TUVALU', 'TUVALU'),
 ('UNITED ARAB EMIRATES', 'UNITED ARAB EMIRATES'),
 ('UNITED ARAB EMIRATES (UAE)', 'UNITED ARAB EMIRATES (UAE)'),
 ('UNITED KINGDOM', 'UNITED KINGDOM'),
 ('UNKNOWN', 'UNKNOWN'),
 ('URUGUAY', 'URUGUAY'),
 ('USA', 'USA'),
 ('VANUATU', 'VANUATU'),
 ('VENEZUELA', 'VENEZUELA'),
 ('VIETNAM', 'VIETNAM'),
 ('WESTERN SAMOA', 'WESTERN SAMOA'),
 ('YEMEN', 'YEMEN'),
 ('YEMEN', 'YEMEN ')}